 
  <p></p>

  <body class="d-flex h-100 text-md-center   text-black ">
    <div class="field field-name-field-slice-columns field-type-text-long field-label-hidden has-2-cols">
      <div class="display-3 fst-italic"><h1 class="larger" style="color: blue">Bienvenidos</h1>
        <p class="display-6 font-size">En esta página web encontrarás las opciones de Registro,<br>
        <p class="display-6 font-size">Inicio de sesión, Catalogo de Departamentos, Registro de Problema y Seguimiento del Problema<br>
      </div>
      <body>
      <p>Registrate para ingresar un problema:</p>
      <a class="btn btn-secondary" href="register" role="button">Registrarse</a>
      <body>
        <p>Inicia Sesión para dar seguimiento a tu problema:</p>
        <a class="btn btn-primary" href="login" role="button">Iniciar Sesión</a>
        </body>
        <a href="#" class="text-decoration-none">Selecciona una opción de la barra de navegación para mostrar su contenido</a>
      </body>
    </div>

<div>
    <img  src="../../../assets/7.png" height="670">
  
  </div>


