<div class="text-center">
    <h1 class="fst-italic">Catalogo de Departamentos</h1>

    <p style="color: blue;" class="fw-semibold">A continuación se encuentran los diferentes departamentos para clasificar su problematica:</p>
<div class="card-group">
    <div class="card">
      <img
        src="/assets/1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Paquetería</h5>
        <p class="card-text">
         En este espacio se encuentra la descripción del departamento 1.
        </p>
        <button type="button" class="btn btn-primary">Acceder</button>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <img
        src="/assets/2.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ventas</h5>
        <p class="card-text">
          En este espacio se encuentra la descripción del departamento 2.
        </p>
        <button type="button" class="btn btn-primary">Acceder</button>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <img
        src="/assets/3.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Entregas</h5>
        <p class="card-text">
            En este espacio se encuentra la descripción del departamento 3.
        </p>
        <button type="button" class="btn btn-primary">Acceder</button>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
