<nav class="navbar navbar-expand-lg bg-light" >
</nav>
<h1 class="Text-center" >Iniciar sesión</h1>
  <h2 class="Text-center">Ingresa tu correo y contraseña para iniciar sesión</h2>
    <div class="form-floating mb-2">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <label for="floatingInput">Correo electrónico </label>
      </div>
      <input type="email" class="form-control" id="floatingInput" placeholder="">
  </div>
  
  <div class="form-floating" >
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <input type="password" class="form-control" id="floatingPassword" placeholder="">
  </div>
    <div class="form-check">
      <div>
        <div> 
          
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <label class="form-check-label" for="flexCheckDefault">
        <h5 class="Text-center">Recordar mi contraseña </h5>
      </label>
    </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary" type="button">Iniciar sesión</button>
      </div>
  </div>
    </div>
<div>
<nav class="nav flex-column">
  <a class="CentrarEsteTexto" href="#">¿No tienes una cuenta? Registrate</a>
</nav>
  </div>
  
</div>
<div class="container">
  <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">id_Acceso<th>
          <th scope="col">id_regDatos</th>
          <th scope="col">id_rol</th>
          <th scope="col">Usuario</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reg of recupera">
          <td>{{reg.id_Acceso}}</td>
          <td></td>
          <td>{{reg.id_regDatos}}</td>
          <td>{{reg.id_rol}}</td>
          <td>{{reg.Usuario}}</td>
          
          </tr>
      </tbody>
    </table>
  </div>





